{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"parser": "typescript",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 1,
	"trailingComma": "es5",
	"useTabs": true
}
