/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800"); */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", Helvetica, Tahoma, Arial;
	background-color: #f9f9f9;
	font-size: 16px;
}
